In [31]:
import pandas as pd
import numpy as np
import random

In [42]:
df = pd.DataFrame({'A':range(10), 'B':range(10)})

In [28]:
df

   A  B
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4
5  5  5
6  6  6
7  7  7
8  8  8
9  9  9

In [29]:
test = df['B'].sample(frac=1)
test.reset_index()
test

7    7
1    1
3    3
9    9
0    0
4    4
5    5
2    2
8    8
6    6
Name: B, dtype: int64

In [46]:
def shuffle(df):
    index=list(df.index)
    random.shuffle(index)
    df=df.ix[index]
    df.reset_index()
    return df

df['B'] = shuffle(df['B']).values
df

   A  B
0  0  4
1  1  2
2  2  3
3  3  9
4  4  6
5  5  1
6  6  0
7  7  8
8  8  5
9  9  7